doctype html
html
  include head.pug

  body
    h2 Challenge bébé Soldat !
    div#blabla(class='content')
      p
        | Vous êtes nombreux à nous demander si ce sera une fille ou un garçon, la réponse est attendue pour tous fin juillet.
      p
        | En attendant nous vous proposons un petit challenge dont le gagnant
        | ou la personne la plus proche et avec le plus de bonnes réponses
        | gagnera un petit restaurant en notre compagnie et un cadeau surprise.
      p
        | C'est simple, à vous de deviner toutes les informations demandées et c'est gagné !

      a(class='button', href='newProno.html') À vos pronos !

    div#blabla(class='content')
        h3 Ce que les autres parieurs en disent...

        table(style='width:100%', border='1')
          tr(class='head')
            th Parieur
            th Sexe
            th Date
            th Poids
            th Taille
            th La petite s'appellerait...
            th Le petit s'appellerait...
          each prono in pronos
            tr(class='prono')
              td= prono.name
              td(class='prono.gender')= prono.gender
              td= prono.ddn
              td= prono.weight
              td= prono.height
              td= prono.girlname
              td= prono.boyname
